<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485028582881-j5pfiqotpgvs9b10bp38522a5fp1uja8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485028582881-j5pfiqotpgvs9b10bp38522a5fp1uja8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBPdda46xOhnAa1jRkv_ZjqDq0bmBLa2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>485028582881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newflutterproject</string>
	<key>PROJECT_ID</key>
	<string>example-cooking-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>example-cooking-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485028582881:ios:0b5d9f5890d29c7757aea0</string>
</dict>
</plist>